html, body{
    margin: 0;
    padding: 0;

}

body{
  min-width: 300px;
  font-family: 'Open Sans', sans-serif;
}

ul{
 width: 100%;
 padding: 0;
 margin: 0;
 transition: 0.3s all linear;
}

li{
  list-style: none;
  padding: 10px;
  margin: 0;
  display: inline-block;
  width: 280px;
  border-bottom: 1px solid #eee;
  float: left;
  color: #666;
}

li:hover{
  background-color: #efefef;
  color: #000;
}

li span, li a{
  display: inline-block;
  cursor: pointer;
}

li span{
  width: 200px;
  float: left;
  padding: 5px 0;
}

li a{
  border: 1px solid #ccc;
  float: right;
  padding: 3px 5px;
  margin: 5px 0 0 0;
  width: 10px;
}


li:hover a{
  border-color: #aaa;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

#notice{
  text-align: center;
  color: #666;
  font-size: 13px;
  padding: 5px;
}
