html, body{
    margin: 0;
    paddin: 0;
}

body{
  min-width: 300px;
  min-height: 400px;
  font-family: sans-serif;
}

ul{
 width: 100%;
 padding: 0;
 margin-top: 30px;
}

li{
  list-style: none;
  margin: 10px 0;
  padding: 0 10px;
  min-height: 40px;
}

li span, li button{
  display: inline-block;
  float: left;
}

li span{
  max-width: 200px;
}
