$width: 300px;
$min-height: 200px;
$padding-unit: 8px;
$font-family: "Open Sans", sans-serif;
$font-size: 12px;
$primary-color: #ff5722;
$primary-text-color: #212121;
$main-background: #efefef;
$border-color: #dedede;
$card-background: #ffffff;
$card-border-radius: 5px;
$card-shadow: 2px 4px 4px #dedede, -2px 4px 4px #dedede;

:root {
  --primary-color: #{$primary-color};
  --primary-text-color: #{$primary-text-color};
  --border-color: #{$border-color};

  --font-size-normal: 1rem;
  --font-size-large: 1.1rem;
  --font-size-xlarge: 1.2rem;
  --font-size-small: 0.9rem;
  --font-size-xsmall: 0.8rem;
  --font-size-xxsmall: 0.7rem;

  --padding-unit: #{$padding-unit};

  --footer-color: #{lighten($primary-text-color, 40)};
  --footer-background-color: #{darken($main-background, 5)};
  --footer-padding: calc(#{$padding-unit} / 2) calc(#{$padding-unit} * 2);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: $width;
  min-height: $min-height;
  font-family: $font-family;
  font-size: $font-size;
  background-color: $main-background;
  color: $primary-text-color;
}

#popup {
  min-height: inherit;
}

a {
  color: lighten($primary-color, 5);
  text-decoration: none;
  transition: 0.2s color linear;

  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color, 8);
  }
}

main {
  min-height: inherit;
  padding: $padding-unit * 2;
}
.notice {
  min-height: inherit;
  font-size: 1.2em;
  font-weight: bold;
  color: lighten($primary-text-color, 40);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-card {
  background-color: $card-background;
  box-shadow: $card-shadow;
  margin-bottom: $padding-unit * 2;
  padding: $padding-unit $padding-unit 0 $padding-unit;
  border-radius: $card-border-radius;

  .video-card__header {
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .video-card__actions {
    margin-top: $padding-unit * 2;
    padding: $padding-unit 0;
    border-top: 1px solid $border-color;
    display: flex;

    button {
      width: $padding-unit * 3;
      padding: 0;
      border: 0;
      text-align: center;
      font-size: 1.1em;
      color: $primary-color;
      background-color: $card-background;
      margin-right: $padding-unit;
      transition: 0.5s color linear;
      cursor: pointer;
      &:hover {
        color: darken($primary-color, 8);
      }
    }
  }
}
