$width: 300px;
$min-height: 200px;
$padding-unit: 8px;
$font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
  "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$font-size: 12px;
$font-size-normal: 1rem;
$font-size-large: 1.1rem;
$font-size-xlarge: 1.2rem;
$font-size-small: 0.9rem;
$font-size-xsmall: 0.8rem;
$font-size-xxsmall: 0.7rem;
$primary-color: #ff5722;
$primary-text-color: #212121;
$main-background: #efefef;
$border-color: #dedede;
$card-background: #ffffff;
$card-border-radius: 5px;
$card-shadow: 2px 4px 4px #dedede, -2px 4px 4px #dedede;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: $width;
  min-height: $min-height;
  font-family: $font-family;
  background-color: $main-background;
  color: $primary-text-color;
  display: flex;
  flex-direction: column;
}

a {
  color: lighten($primary-color, 5);
  text-decoration: none;
  transition: 0.2s color linear;

  &:hover,
  &:active,
  &:focus {
    color: darken($primary-color, 8);
  }
}

button {
  width: $padding-unit * 3;
  padding: 0;
  border: 0;
  text-align: center;
  background-color: $card-background;
  transition: 0.5s color linear;
  cursor: pointer;

  .icon {
    width: 24px;
    height: 24px;
    fill: $primary-color;
  }

  &:hover {
    .icon {
      fill: darken($primary-color, 8);
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $padding-unit * 2;
}

.notice {
  min-height: inherit;
  font-size: 1.2em;
  font-weight: 500;
  color: lighten($primary-text-color, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.video-list {
  min-height: inherit;
}

.video-card {
  background-color: $card-background;
  box-shadow: $card-shadow;
  margin-bottom: $padding-unit * 2;
  padding: $padding-unit $padding-unit 0 $padding-unit;
  border-radius: $card-border-radius;

  .video-card__header {
    display: flex;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    close-button {
      .icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  .video-card__actions {
    margin-top: $padding-unit * 2;
    padding: $padding-unit 0;
    border-top: 1px solid $border-color;
    display: flex;

    button {
      margin-right: $padding-unit;

      .icon {
        display: none;
      }

      .icon.visible {
        display: block;
      }
    }
  }
}

footer {
  box-sizing: border-box;
  padding: $padding-unit / 2 $padding-unit * 2;
  font-size: $font-size-xxsmall;
  background-color: darken($main-background, 5);
  color: lighten($primary-text-color, 40);
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .version-container {
    user-select: none;
  }

  .icon {
    height: 15px;
    fill: $primary-color;
    transition: 0.2s color linear;

    &:hover {
      fill: darken($primary-color, 8);
    }
  }
}
