<template id="footer-template">
  <style>
    footer {
      box-sizing: border-box;
      padding: var(--footer-padding);
      font-size: var(--font-size-xxsmall);
      background-color: var(--footer-background-color);
      color: var(--footer-color);
      border-top: 1px solid var(--border-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
  <footer>
    <div class="version-container"></div>
    <div class="links-container">
      <a
        href="https://maroun-baydoun.com"
        rel="external noopener noreferrer"
        target="_blank"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    </div>
  </footer>
</template>
