html, body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
    transition: 0.3s all linear;
}

li {
    list-style: none;
    margin: 0;
    display: inline-block;
    width: 300px;
    border-bottom: 1px solid #eee;
    float: left;
    color: #666;
}

li:hover {
    background-color: #efefef;
    color: #000;
}

li span, li a {
    display: inline-block;
    cursor: pointer;
}

li span.title {
    width: auto;
    padding: 10px;
}

li span.title:hover {
  text-decoration: underline;
}

li div.controls-container {
  clear: both;
  padding: 5px 10px;
  height: 30px;
}

li a {
    border: 1px solid #ccc;
    float: left;
    padding: 3px 5px;
    margin: 5px 5px 0 0;
    width: 10px;
}

li:hover a {
    border-color: #aaa;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#notice {
    text-align: center;
    color: #666;
    font-size: 13px;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    transition: 0.3s opacity linear;
}
