<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maroun Baydoun">
    <title><%= htmlWebpackPlugin.options.title %> | Maroun Baydoun</title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>">

    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1><%= htmlWebpackPlugin.options.heading1 %></h1>
        <h2><%= htmlWebpackPlugin.options.heading2 %></h2>
    </header>
    <main class="content"></main>
    <footer class="footer">
        <div class="credits">
            Created by <a href="https://maroun-baydoun.com">Maroun Baydoun</a>
        </div>
    </footer>
    <%if (process.env.NODE_ENV === "production") { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62589493-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-62589493-1', { 'anonymize_ip': true });
    </script>
    <% } %>
</body>

</html>