<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maroun Baydoun">
    <title><%= htmlWebpackPlugin.options.title %> | Maroun Baydoun</title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>">

    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1><%= htmlWebpackPlugin.options.heading1 %></h1>
        <h2><%= htmlWebpackPlugin.options.heading2 %></h2>
    </header>
    <main class="content"></main>
    <footer class="footer">
        <div class="credits">
            Created by <a href="https://maroun-baydoun.com">Maroun Baydoun</a>
        </div>
    </footer>
</body>

</html>