<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
  </head>

  <body>
    <main>
      <video-list class="video-list"></video-list>
    </main>
    <popup-footer></popup-footer>

    <%= require('./partials/video-card.html') %>
    <%= require('./partials/playback-button.html') %>
    <%= require('./partials/volume-button.html') %>
    <%= require('./partials/footer.html') %>
  </body>
</html>
