$spacing: 8px;

$body-color1: #000;
$body-color2: #666;
$link-color1: #0000ff;
$link-color2: #0000cd;

$heading-font-family: "Cutive Mono", monospace;
$content-font-family: "Roboto", sans-serif;

$h1-font-size: 2rem;
$h2-font-size: 1.3rem;
$nav-font-size: 0.8rem;
$footer-font-size: 0.8rem;

$mobile-max-width: 767px;
$medium-desktop-max-width: 1100px;
$large-desktop-max-width: 1400px;
$media-mobile: "only screen and (max-width : #{$mobile-max-width})";
$media-mobile-landscape: "only screen and (max-width : #{$mobile-max-width}) and (orientation: landscape)";
$media-medium-desktop: "only screen and (max-width : #{$medium-desktop-max-width})";
$media-large-desktop: "only screen and (max-width : #{$large-desktop-max-width})";
